@import "tailwindcss";

@theme {
  --font-sans: Segoe UI, Arial, Helvetica, sans-serif;
  --font-mono: Courier New, monospace;

  /* Colors */
  --color-gradient-start: #9cc0c3;
  --color-gradient-middle: #767e95;
  --color-gradient-end: #816f80;

  /* Special Gradients */
  --color-gradient3-start: #6e7f42;
  --color-gradient3-middle: #c37842;
  --color-gradient3-end: #f04e42;

  --color-text-base: rgba(255, 255, 255, 0.9);
  --color-text-hover: rgb(255, 255, 255);
  --color-link-blue: #58a0ff;

  /* Dark Background */
  --color-dark-background: black;
  --color-white: #ffffff;
  --color-white-90: #fffffff3;
  --color-white-80: #ffffffc7;
  --color-white-60: #ffffffa9;
  --color-white-40: #ffffff68;
  --color-white-10: #ffffff1a;
  --color-black: #000000;
  --color-black-sheer: rgba(0, 0, 0, 0.3);
  --color-black-60: rgba(0, 0, 0, 0.4);
  --color-black-90: rgba(0, 0, 0, 0.9);
  --color-light-background: #0d1014;
  --color-light-background-50: #0d1014a0;
  --color-light-background-10: #0d10147e;
  --color-light-background-clear: #0d10144d;
  --color-secondary-text: #6a7e97;
  --color-light-background-blue: #1d242d;
  --color-light-background-blue-50: #1d242d50;

  /* Button Gradients */
  --color-button-primary-gradient1: #58f1ff63;
  --color-button-primary-gradient2: #5f83f04f;
  --color-button-primary-gradient3: #e54bdb49;

  --color-button-secondary-border: rgba(255, 255, 255, 0.4);
  --color-button-secondary-gradient1: rgba(255, 255, 255, 0.1);
  --color-button-secondary-gradient2: rgba(255, 255, 255, 0.2);
  --color-button-secondary-gradient3: rgba(255, 255, 255, 0.1);

  /* Font Sizes */
  --text-h1: 30px;
  --text-h2: 25px;
  --text-h3: 20px;
  --text-p: 16px;
  --text-small: 12px;
  --text-button: 16px;
}

/* Responsive font sizes */
@media (min-width: 768px) {
  @theme {
    --text-h1: 50px;
    --text-h2: 30px;
    --text-h3: 20px;
    --text-p: 18px;
    --text-small: 14px;
    --text-button: 16px;
  }
}

@media (min-width: 991px) {
  @theme {
    --text-h1: 60px;
    --text-h2: 30px;
    --text-h3: 25px;
    --text-p: 18px;
    --text-small: 16px;
    --text-button: 18px;
  }
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

@keyframes subtle-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
  50% {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1);
  }
}

.press-me-animation {
  animation: subtle-glow 2s infinite;
}

.press-me-animation:hover {
  animation: none;
  box-shadow: none;
}

* {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--clr-var-text-40) transparent; /* For Firefox */
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
  width: 4px; /* Width of vertical scrollbar */
  height: 4px; /* Height of horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-var-text-40); /* Color of the scroll thumb */
  border-radius: 4px; /* Rounded corners of the scroll thumb */
  border: 2px solid var(--clr-var-dark-background-20);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(
    --clr-var-text-80
  ); /* Color of the scroll thumb on hover */
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: scroll-left 180s linear infinite;
}

.animate-scroll-right {
  animation: scroll-right 180s linear infinite;
}

.hover\:pause-animation:hover {
  animation-play-state: paused;
}
